body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: radial-gradient(circle at top, #140021, #05000a);
  color: #e9d5ff;
}

/* KONTEJNER */
.container {
  max-width: 700px;
  margin: auto;
  padding: 80px 20px;
  text-align: center;
  animation: fadeIn 1.5s ease;
}

/* TITULEK */
.title {
  font-size: 3rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #c084fc;
  text-shadow: 0 0 25px rgba(192,132,252,0.6);
}

.subtitle {
  margin-bottom: 50px;
  font-style: italic;
  color: #a78bfa;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* POLOŽKY */
.item {
  padding: 20px;
  border-radius: 15px;
  background: rgba(192,132,252,0.05);
  border: 1px solid rgba(192,132,252,0.2);
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

/* HOVER */
.item:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 0 30px rgba(192,132,252,0.4);
}

/* NADPISY JÍDEL */
.item h2 {
  margin-bottom: 10px;
  color: #d8b4fe;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 50px;
  padding: 12px 30px;
  border-radius: 30px;
  background: linear-gradient(90deg, #a855f7, #c084fc);
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px #c084fc;
}

/* ANIMACE */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}